<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welkom op mijn Azure Web App!</h1>
  <p>Deze website heb ik gedeployed via Azure voor mijn schoolopdracht.</p>
  <p>Door: <%= name %>
  </p>
</body>

</html>